# vi: set ft=toml :

debug = false
pids = "./"

[manager]
ticker-duration = "15s"

[mongo]
dial = "localhost"
database = "tedx"

[website]
assets = "./assets"
listen-addr = ":9000"
administrators = [
# "username:password",
# "username:password",
]
