# vi: set ft=toml :

pids = "/var/run/TEDxMileHigh"

[manager]
cycle-every = "15s"

[streamer]
verbose = false
track = "supportlocal"

[twitter]
username = "changeme"
password = "changeme"

[website]
assets = "/opt/TEDxMileHigh/website/assets"
listen-addr = ":9000"
administrators = [
# "username:password",
# "username:password",
]
